@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}

body{
    background:peachpuff;
}

.heart{
    height:auto;
    width:75px;
    object-fit:contain;
    animation: beating infinite 1s ease-in-out;

}

.top{
   display:flex;
   position:fixed;
   flex-direction:row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 80px;
   padding:20px 40px;
   border:2px solid black;
   backdrop-filter: blur(20px);
   border-bottom-right-radius: 1rem;
   border-bottom-left-radius: 1rem;
   background:transparent;
   box-shadow: none;
   transform: translateY(-100%);
   animation: slideDown 1s ease-out forwards;
   z-index:1000;


}


.logo a{
  display:flex;
  flex-direction:row;
  text-align: center;
  transform: translateY(-100%);
   animation: slideDown 1.5s ease-out forwards;

}

.logo span{
    color:black;
  font-size:2rem;
  font-weight:700;
  margin-left:5px;
}


.side{
    font-size:2rem;
    font-weight:600;
    align-items: center;
    color:black;
    display: none;
}




 .sidebar {
     position: fixed;
     top: 0;
     right: -100%;
     width: 250px;
     height: 100%;
     background:black;
     backdrop-filter: blur(10px);
     box-shadow: 0 -4px 10px rgb(49, 49, 49) ;
     color: #fff;
     padding: 20px;
     transition: right 0.3s ease-in-out;
     z-index: 1001;
 }
 .sidebar.active {
     right: 0;
 }
 .close-btn {
     font-size: 24px;
     cursor: pointer;
     text-align: left;
 }
 .sidebar-nav {
     display: flex;
     flex-direction: column;
     margin-top: 30px;
     gap:2rem;
     text-align: center;
 }

 .sidebar-nav a:hover{
  padding:5px 10px;
  border:1px solid black;
  background-color:white;
  color:black;
  border-radius: 2.5rem;
  font-weight: 600;
 }

 .sidebar-nav button:hover{
  padding:5px 10px;
  border:1px solid black;
  background-color:white;
  color:black;
  border-radius: 2.5rem;
  font-weight: 600;
 }
 .sidebar-nav a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
     font-weight: 600;
     padding: 5px 10px;
     
 }

  .sidebar-nav button {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
     font-weight: 600;
     padding: 5px 10px;
     
 }
 @media (max-width: 768px) {
     .navbar {
         display: none;
     }
     .side {
         display: block;
     }
 }
 

.navbar{
    transform: translateY(-100%);
  animation: slideDown 1.5s ease-out forwards;
}

.navbar a {
    margin-left:0.8rem;
    font-size: 1.2rem;
    font-weight:600;
    color:black;
    padding: 8px 16px;
    border:none;
    border-radius:2.5rem;
    transition: 0.2s ease;
}

.navbar button{
    margin-left:0.8rem;
    font-size: 1.2rem;
    font-weight:600;
    color:black;
    padding: 8px 16px;
    border:none;
    border-radius:2.5rem;
    transition: 0.2s ease;
}

.navbar button:hover{
    color:white;
    background-color: black;
    padding:8px 16px;
    border-radius:2.5rem;
}

.navbar a:hover{
    color: white;
    background-color: black;
    padding:8px 16px;
    border-radius:2.5rem;
}

@media (max-width :768px){
    .navbar{
        display:none;

    }

    .side-btn{
        display: block;
    }

    
}



@keyframes beating {
    0%{
        transform:scale(1);
    }
    35%{
        transform:scale(1.1);
    }
    50%{
        transform:scale(1.15);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

main{
    padding-top:100px;
}

.account{
    display:flex;
    flex-direction:row;
    border:2px solid black;
    margin: 0 auto;
    align-items: center;
    position:relative;
    justify-content: space-between;
    padding:40px 50px;
    transition:0.4s ease;
    border-radius:1rem;
    width:90%;
    background: linear-gradient(to right, rgb(0, 179, 255), rgb(3, 132, 218),rgb(3, 67, 163));
}

.account-form{
    left:0;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto;
   
}

.login-form p span{
    font-size: 2rem;
    font-weight: 600;
    color:black;
    text-decoration: underline;
}

.login-form p{
    font-size: 2rem;
    font-weight: 600;
    color:white;
    text-decoration: none;
}

.login-btn{
    color:white;
    font-size: 1rem;
    font-weight: 600;
    padding:10px 20px;
    background: red;
    border:none;
    border-radius: 2.5rem;
    transition: 0.2s ease-in-out;
}


.login-form{
   display:flex;
   flex-direction: column;
   gap:1rem;
   text-align: center;
   justify-content: center;
   border:none;
   transition: 0.4s ease;
    animation: slideright 1.5s ease;
   
}

.input-box{
    background: none;
    width:100%;
    max-width: 450px;
}

.input-box:focus{
    outline:none;
    border:none;
}

.holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    align-items: center;
    padding:10px  20px;
    gap:1rem;
    border-radius:2.5rem;
}

i.bx{
    font-size: 1.2rem ;
}

.register-form{
    display:none;
    flex-direction: column;
    gap:1rem;
    text-align: center;
    justify-content: center;
    border:none;
    transition: 0.4s ease;
     animation: slideright 1.5s ease;

}


.login-btn:hover{
    background: rgb(206, 8, 8);
}

.register-form p span{
     font-size: 2rem;
    font-weight: 600;
    color:black;
    text-decoration: underline;
}

.register-form p{
    font-size: 2rem;
    font-weight: 600;
    color:white;
    text-decoration: none;
}

.account-img img{
    border:none;
    right: 0;
    width:100%;
    max-width:500px;
    margin-left: 20px;
    border-radius:1rem;
    justify-content: center;
    box-shadow: 6px 6px 10px rgb(48, 48, 48);
    animation: slideleft 1.5s ease;
    

}


@media (max-width: 768px){
    .account-img{
        display: none;
    }


}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bobbing{
    0%{
        transform: translateY(5px);
    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes slideleft {
    0%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideright {
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0);
    }
}

.about{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding:10px 20px;
  margin:0 auto;
  width:90%;
  background: none;
  border:none;
  border-radius:1rem;
  margin-top:20px;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border:2px solid black;
    border-radius: 1rem;
    padding:10px 20px;
    background: white;
    margin:2rem;
    gap:1rem;
    transition: 0.2s ease-in-out;
}

.card-img svg{
   width: 70px;
   height:70px;
   color:black;
}

.card-desc{
    color:black;
    font-size:1rem;
    font-weight:500;
    text-align: center;
}

.card:hover{
    transform: translateY(-5px) ;
}

@media (max-width : 768px){
    .about{
        flex-direction:column;
    }
}

.guide{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding:40px 20px;
    border:none;
    border-radius:1rem;
    background:transparent;
    gap:1rem;
    justify-content: center;
    align-items: center;

}

.gt{
    font-size: 3rem;
    font-weight: 700;
    color:transparent;
    text-align: center;
    background: linear-gradient(45deg, rgb(221, 31, 145) , rgb(196, 47, 174) , rgb(211, 13, 211), white);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom:20px;
}

.gd{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:1rem;
    position: sticky;
    top:100px;
    max-width: 90%;
    border:1px solid black;
    border-radius:1rem;
    padding:10px 20px;
    justify-content: space-between;
    box-shadow: 0 -5px 10px rgb(41, 41, 41), 0 5px 10px rgb(41,41,41);

}

.g2{
    top:150px;
}

.g3{
   top:200px;
}

.g4{
  top:250px;
}
.g5{
   top:300px;
}



.ga{
    display: flex;
    flex-direction: row;
    gap:2rem;
}

.gc{
   display:flex;
   flex-direction: column;
   text-align: left;
   justify-content: center;
   padding: 10px 20px;
   border:none;
   transition: 0.4s ease;
}

.gi svg{
    height:300px;
    width:300px;
}

.gi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:none;
    width: 100%;
    max-width: 450px;
    border:none;
    border-radius: 1rem;
}

.gdt{
    font-size: 1.3rem;
    font-weight: 500;
    color:black;


}

.gc{
    font-size: 1rem;
    color: black;
    padding: 40px 50px;
    border-radius: 1rem;
    background: white;
    font-weight: 500;
}

.g1{
 background-color: rgb(254, 79, 108);
}

.g2{
  background-color: turquoise;
}

.g3{
background-color: yellowgreen ;
}

.g4{
background-color: plum;
}
.g5{
 background-color:coral ;
}

@media (max-width:768px){
    .gi{
        display: none;
    }
    .gd{
        position: sticky;
        top:100px;
    }
    .gc{
        text-align:center;
         padding: 10px 20px;
    }
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 50px;
    max-width: 1200px;
    background: linear-gradient(to right,#27aea1, #00fffb); 
    border-radius: 1rem;
    margin:20px auto;
    overflow-x: hidden;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
}



.contact-left-title h2{
  font-weight:600;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;

}

.contact-left-title hr{
 border:none;
 width:120px;
 height:5px;
 background-color: gold;
 border-radius: 2.5rem;
 margin-bottom:20px;
}

.contact-inputs{
  height: 50px;
  width: 400px;
  border:none;
  outline:none;
  padding-left:25px;
  font-weight:500;
  color:#666;
  border-radius:2.5rem;

}

.contact-left textarea{
  height:140px;
  padding-top:15px;
  border-radius:20px;
}

.contact-inputs:focus{
  border:2px solid black;
}

.contact-input::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display:flex;
  align-items:center;
  text-align: center;
  padding:15px 30px;
  font-size: 16px;
  font-weight: 600;;
  color:#fff;
  border:2px solid black;
  border-radius:2.5rem;
  background: red;
  cursor:pointer;
}

.contact-left button:hover{
    background:rgb(206, 8, 8);
}

.contact-left button img {
  height:15px;
}

.contact-right img {
  width:500px;
  margin-left:50px;
  animation: beating infinite 1s ease-in-out;
}


@media (max-width: 768px) {
  .contact {
    padding: 40px 50px;
  }

  .contact-inputs {
    width: 100%;
    max-width: 100%;
  }

  .contact-right {
    display: none;
  }
}

.contact-left button img{
    margin-left:10px;
}

html{
    scroll-behavior: smooth;
}




